@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-weight: var(--fontWeightRegular);
  text-align: left;

  margin-top: 0;
  margin-bottom: 0;
}

.whypartner {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 10px;
}

.img{
  flex: 0 0 200px;
  padding: 0px 50px 0px 0px;
}
.img img{
  width: 100%;
  height: auto;
}

.text{
  flex: 1;
}
.text p{
  color: #666666;
}

.question{
  @apply --marketplaceH2FontStyles;
  font-weight: var(--fontWeightMedium);
  user-select: none;
  cursor: pointer;
  color: var(--marketplaceColorLight2);
  position: relative;
  display: flex;
  flex-flow: row;
  margin: 0px;
}

.questionText{
  flex: 0 0 440px;
  max-width: calc(100% - 35px);
}