@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-weight: var(--fontWeightRegular);
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.easyas {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 40px;

  @media (--viewportSmall) {
    flex-direction: row;
    margin-top: 33px;
    padding: 0px;
    flex-flow: wrap;
    justify-content: center;
  }
  @media (--viewportLarge) {
    justify-content: center;
  }
  @media (--viewportLargeWithPaddings) {
    justify-content: space-between;
  }
}

.img{
  flex: 1;
}
.img div{
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  background-size: contain;
}

.select{
  background-image: url('./images/easyas_select_mobile.png');

  @media (--viewportSmall) {
    background-image: url('./images/easyas_select.png');
  }
}
.confirm{
  background-image: url('./images/easyas_confirm_mobile.png');

  @media (--viewportSmall) {
    background-image: url('./images/easyas_confirm.png');
  }
}
.ride{
  background-image: url('./images/easyas_ride_mobile.png');

  @media (--viewportSmall) {
    background-image: url('./images/easyas_ride.png');
  }
}