@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-weight: var(--fontWeightRegular);
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.easyas {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 10px;

  @media (--viewportMedium) {
    flex-direction: row;
    margin-top: 33px;
    flex-flow: wrap;
    justify-content: space-between;
  }
  @media (--viewportMedium) {
    justify-content: center;
  }
  @media (--viewportLarge) {
    justify-content: center;
  }
  @media (--viewportLargeWithPaddings) {
    justify-content: space-between;
  }
}

.img{
  flex: 1;
}
.img img{
  width: 100%;
  height: 100%;
}