@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-weight: var(--fontWeightRegular);
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.easyas {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 10px;
}

.img{
  flex: 1;
  max-width: 22%;
}
.img img{
  width: 100%;
  height: 100%;
}